div.body {
  max-width: none;
}

div.MathJax_Display {
  overflow-x: scroll;
  overflow-y: hidden;
}

details.derivation {
  background-color: #333;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
